/* General Styles */
body {
    background: rgb(111, 208, 224);
    background: linear-gradient(0deg,rgb(111, 208, 224) 0%, rgb(171, 228, 167) 100%);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    min-height: 100vh;
}

h1 {
    margin: 0;
    font-family: 'Frijole', cursive;
    font-size: 3em;
    font-weight: 400;
}

h2,
h3,
h4 {
    font-family: 'Oswald', sans-serif;
}

@media (min-width: 650px) {
    h1 {
        font-size: 5em;
    }
}

@media (min-width: 920px) {
    h1 {
        font-size: 8em;
    }
}

p {
    font-weight: 100;
}

/* Grid Styles */
#grid {
    background: linear-gradient(0deg,rgb(111, 208, 224) 0%, rgb(171, 228, 167) 100%);
    background-size: cover;
    border-radius: 20px;
    opacity: 0.8;
    display: flex;
    margin: 2em;
    flex-wrap: wrap;
}

.grid-item {
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.grid-item:nth-child(1){
    background: #009687f5;
    transition: 450ms opacity;
    opacity: 0.8;
    border-radius: 20px;
}

.grid-item:nth-child(2){
    background: #dc7657f5;
    transition: 450ms opacity;
    opacity: 0.8;
    border-radius: 20px;
}

.grid-item:nth-child(3){
    background: #4bb3c1fa;
    transition: 450ms opacity;
    opacity: 0.8;
    border-radius: 20px;
}

.grid-item:nth-child(4){
    background: #fac069f9;
    transition: 450ms opacity;
    opacity: 0.8;
    border-radius: 20px;
}

.grid-item:nth-child(5){
    background: #67a866f9;
    border-radius: 20px;
}

.grid-item:nth-child(6){
    background: #b94169fa;
    transition: 450ms opacity;
    opacity: 0.8;
    border-radius: 20px;
}

.grid-item:nth-child(7){
    background: #7f62b3fa;
    transition: 450ms opacity;
    opacity: 0.8;
    border-radius: 20px;
}

.grid-item:nth-child(8){
    background: #9fc376f9;
    transition: 450ms opacity;
    opacity: 0.8;
    border-radius: 20px;
}

.grid-item:nth-child(9){
    background: #677bcbfa;
    transition: 450ms opacity;
    opacity: 0.8;
    border-radius: 20px;
}

.grid-item:nth-child(1):hover,
.grid-item:nth-child(2):hover,
.grid-item:nth-child(3):hover,
.grid-item:nth-child(4):hover,
.grid-item:nth-child(6):hover,
.grid-item:nth-child(7):hover,
.grid-item:nth-child(8):hover,
.grid-item:nth-child(9):hover{
    opacity: 1;
    color: white;
    transform: scale(1.1);
    z-index: 1;
}

@media (min-width: 550px) {
    #grid div {
        width: calc(100% / 3);
    }
}

.grid-item h3 {
    font-size: 2em;
    color: #eee;
}

.grid-item img {
    max-width: 100%;
    padding-bottom: 1em;
}

.grid-item p {
    background: rgba(000,000,000, .3);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.8em 0.8em 1.8em;
    margin:0;
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
}

/* Form Styles */
.form-container {
    background: #eee;
    padding: 1.3em;
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 3%;
}

form p {
    margin-bottom: 0.3em;
    font-size: 1.3em;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}

input {
    padding: 0.7em;
    background: #fff;
    border: 0;
}

.form-field__short {
    width: 25%;
    margin-right: 3%;
    box-sizing: border-box;
}

.form-field__full {
    width: 100%;
    box-sizing: border-box;
}

select {
    display: block;
}

#btn {
    display: inline-block;
    background: #ccc;
    padding: 0.8em;
    margin: 1.2em auto;
    transition: ease 0.3s all;
    border-radius: 20px;
}

#btn:hover {
    background: #777;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}

#newBtn {
    display: inline-block;
    background: #9fc376f9;
    padding: 0.8em;
    margin: 1.2em auto;
    transition: ease 0.3s all;
    border-radius: 20px;
}

#newBtn:hover {
    background: #777;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}

/* Footer */
.fine-print {
    display: block;
    font-size: 0.7em;
}
